
@{
    ViewBag.Title = "Index";
}

<h2>@GestionAbscences.Langagues.Resource1.clientdashboard</h2>
<title> Accueil </title>
<h3 style="color:seagreen;">@Session["Message"]   </h3>
@Session["demande"]



